<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='status.css') }}">
    <title>DelíciasGourmet</title>
</head>
<body>
    <div class="top-banner">
        <img src="{{ url_for('static', filename='icons/banner-top.png') }}" alt="Descrição da imagem" class="img-fluid w-100 h-20">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Main navigation">
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Delícias Gourmet</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedidos">Pedidos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pedidos?pedido=0000">Status</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ url_for('static', filename='icons/banner1.png') }}" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='icons/banner2.png') }}" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ url_for('static', filename='icons/banner3.png') }}" alt="Terceiro Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>

        <!-- status -->
        <div class="container mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Consulta de Status de Pedido</h4>
                </div>
                <div class="card-body">
                    <!-- Formulário -->
                    <div class="form-group">
                        <label for="telefone">Número de Telefone com DDD:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o número de telefone" onblur="limparTextoNumerico()" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" name="consulta" onclick="consulta(this.name)">Consultar</button>
                    <hr>
                    <!-- Resultado -->
                    <div id="resultado" class="mt-4">
                        <h5 id="info" class="text-center text-secondary"></h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <footer>
        <p>Delícias Gourmet</p>
        <br>
        <p>
            Contato:
            <a href="https://web.whatsapp.com/send/?phone={{ html['rodape']['watsapp'] }}&text=Olá,%20Gostaria%20de%20mais%20Informações%20sobre%20Delícias%20Gourmet.&type=phone_number&app_absent=0">
                <img src="{{ url_for('static', filename='icons/whatsapp-icon.png') }}" alt="WhatsApp" style="height: 20px;">
                WhatsApp
            </a>
        </p>
        <br>
        <p>{{ html['rodape']['copyriting'] }}</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const limparTextoNumerico = () => {
            const campotel = document.getElementById("telefone");
            document.getElementById("telefone").value = campotel.value.replace(/[^0-9]/g, '');
        }

        function consulta(page) {
            var xhr = new XMLHttpRequest();
            var telefone = document.getElementById("telefone").value;

            xhr.open('GET', '/function' + '?page=' + page, true);
            {% if html['pedido'] %}
            xhr.open('GET', '/function' + '?page=' + page + '&pedido={{ html['pedido'] }}', true);
            {% else %}
            xhr.open('GET', '/function' + '?page=' + page + '&telefone=' + telefone, true);
            {% endif %}

            xhr.onload = function() {
              if (xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);

                document.getElementById(response.tag).innerHTML = response.html;
              } else {
                document.getElementById(response.tag).innerHTML  = '<p>Erro: ' + xhr.status + '</p>';
              }
            };

            xhr.onerror = function() {
                document.getElementById(response.tag).innerHTML  = '<p>Erro na Requisição</p>';
            };

            xhr.send();
        }
        {% if html['pedido'] %}
        consulta("consulta")
        {% endif %}
    </script>
</body>
</html>
